<div>
  <input type="text" class="form-control" placeholder="Search da Fish" ng-model="searchName.name">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="$parent.vm.sortType = 'name'; $parent.vm.sortReverse = !$parent.vm.sortReverse">
            Sushi Roll 
            <span ng-show="$parent.vm.sortType == 'name' && !$parent.vm.sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="$parent.vm.sortType == 'name' && $parent.vm.sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="$parent.vm.sortType = 'fish'; $parent.vm.sortReverse = !$parent.vm.sortReverse">
          Fish Type 
            <span ng-show="$parent.vm.sortType == 'fish' && !$parent.vm.sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="$parent.vm.sortType == 'fish' && $parent.vm.sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="$parent.vm.sortType = 'tastiness'; $parent.vm.sortReverse = !$parent.vm.sortReverse">
          Taste Level 
            <span ng-show="$parent.vm.sortType == 'tastiness' && !$parent.vm.sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="$parent.vm.sortType == 'tastiness' && $parent.vm.sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
  </table>
</div>